{% extends 'base.html' %}
{% block content %}

<div>
  <canvas id="myChart"></canvas>
</div>


{% endblock %}


{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['24-01', '25-01', '26-01', '27-01', '28-01'],
      datasets: [{
        label: 'Price',
        data: ['18890', '18890', '19000', '17000', '18500'],
        borderWidth: 4
      }]
    }
  });
</script>
{% endblock %}