{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Service</th>
        <th>Product</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
        <tr>
            <td id="result">{{ item.id }}</td>
          <td>{{ item.service }}</td>
          <td>{{ item.product }}</td>
          <td>{{ item.price }}</td>
          <td>
            <a class="btn btn-danger" id="delete" role="button" href="/delete_item/{{ item.id }}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <div class="add_form">
        <form method="post">
            {{ add_form.hidden_tag() }}
            <div class="form-group main-form-group">
                {{ add_form.field(placeholder="New item", class='new_item') }}
                {% for error in add_form.field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {{ add_form.submit(class='btn btn-primary') }}
      </form>
    </div>
    <h3 class="chart_header">Charts</h3>
    {% for item in data %}
        <br>
        <a class="btn btn-primary" id="chart_btn" role="button" href="/chart/{{ item.id }}">{{ item.product }}</a>
    {% endfor %}
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}