{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Service</th>
        <th>Product</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
        <tr>
            <td id="result">{{ item.id }}</td>
          <td>{{ item.service }}</td>
          <td>{{ item.product }}</td>
          <td>{{ item.price }}</td>
          <td>
            <a class="btn btn-danger" id="delete" role="button" href="#">Delete</a>
            <script type="text/javascript">
                document.getElementById("delete").onclick = function() {
                  var result = document.getElementById("result").innerHTML;
                  var link = document.getElementById("delete");
                  link.href = "/delete_item/"+result;
                };
            </script>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <div class="add_form">
        <form method="post">
            {{ add_form.hidden_tag() }}
            <div class="form-group main-form-group">
                {{ add_form.field(placeholder="New item") }}
                {% for error in add_form.field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {{ add_form.submit() }}
      </form>
    </div>
    <a href="/log_out">log out</a>


{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}